$page-bg: #F9F7F3;
$table-dk: #6C6656;
$table-md: #E1DDCF;
$table-lt: #FBF7EF;

$page-width:1000px;

$header-bg: darken( $table-md, 10% );

$blue: #485167;
$light: #EAE6DA;
$highlight: #D1B894;
$hi-2: #A9754F;
$gray: #BCBCBE;